tr:nth-child(even) {
  background-color: rgba(247, 247, 247, 0.801);
}

.row {
  &:hover {
    background-color: rgb(243, 243, 243);
  }

  td {
    padding: 0.35em 0.5em;
    border-bottom: solid lightgray 1px;
  }
}

.selected {
  background-color: #ffe08a !important;
}
