.table-box {
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}

.table {
  border-collapse: collapse;
  border-spacing: 0;

  &__header {
    color: #363636;
    border-bottom: solid lightgray 2px;
    padding: 0.25em 0.5em;
    text-align: left;
    // &__name {}
  }

  &__body {
    tr:hover {
      background-color: rgb(243, 243, 243);
    }

    td {
      padding: 0.35em 0.5em;
      border-bottom: solid lightgray 1px;
    }
  }
}
