.header {
  border-bottom: solid #dadadab2 2px;
}

.navbar {
  color: #4a4a4a;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 10rem;

  &__item {
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    color: inherit;

    &--active {
      color: rgb(32, 32, 250);
      background-color: lightgray;
    }

    &:hover {
      color: rgb(17, 17, 247);
    }
  }

}
